fastapi==0.104.1
uvicorn==0.48.0
sqlalchemy==1.4.50  # Версия 1.4 работает на 3.8
alembic==1.18.4
psycopg2-binary==2.9.9
python-dotenv==1.2.2
pydantic==2.13.4
pydantic-settings==2.14.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4